{% extends 'timesheet/base.html' %}

{% block content %}
    <center>
    <h1> Timesheet</h1>

    <div class="container">
        <h1>blblbl</h1>
        <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">StudentID</th>
                <th scope="col">Date</th>
                <th scope="col">Role</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Amount</th>
            </tr>
          </thead>
            {% for shift in shifts %}
                <tr>
                    <td>
                    {{ shift.studentID }}
                    </td>
                    <td>
                    {{ shift.date }}
                    </td>
                    <td>
                    {{ shift.role }}
                    </td>
                    <td>
                    {{ shift.startHour }}
                    </td>
                    <td>
                    {{ shift.endHour }}
                    </td>
                    <td>
                    {{ shift.payment }}
                    </td>
            </tr>

            {% endfor %}
        </table>

    </div>
     {{ shift.studentID }}

    </center>

{% endblock %}