{% extends 'timesheet/base.html' %}

    {% block content %}
        <h1>Update Shift #{{ shift.id }}</h1>
        <br/>
        <form action="" method=POST>
            {% csrf_token %}

        StudentID: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ user }}" disabled> <br/> <br/>
        Role of the shift {{ form.role }} <br/> <br/>
        <label for="disabledTextInput" class="form-label">Start of Shift</label>
        <div class="col-xs-2">{{  form.startHour }}</div> <br/> <br/>

        <label for="disabledTextInput" class="form-label">End of the Shift</label>
        <div class="col-xs-2">{{  form.endHour }}</div> <br/> <br/>

{#        startHour box with calendar picker #}
{#        <label for="disabledTextInput" class="form-label">Start of Shift</label>#}
{#        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">#}
{#            <div class="col-xs-2">{{  form.startHour }}</div>#}
{#          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">#}
{#            <div class="input-group-text"><i class="fa fa-calendar"></i></div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <br/>#}
{##}
        {#        endHour box with calendar picker #}
{#        <label for="disabledTextInput" class="form-label">End of the Shift</label>#}
{#         <div class="input-group date" id="datetimepicker2" data-target-input="nearest">#}
{#            <div class="col-xs-2">{{  form.endHour }}</div>#}
{#          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">#}
{#            <div class="input-group-text"><i class="fa fa-calendar"></i></div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <script>#}
{#          $(function () {#}
{#            $("#datetimepicker1").datetimepicker({#}
{#              format: 'MM/DD/YYYY HH:mm',#}
{#            });#}
{#            $("#datetimepicker2").datetimepicker({#}
{#                format: 'MM/DD/YYYY HH:mm',#}
{#            });#}
{#          });#}
{##}
{#        </script>#}
{##}
{#        <br/>#}

            <input type="submit" value="Submit" class="btn btn-secondary">
            <a class="btn btn-danger" href="{% url 'delete-shift' shift.id %}" role="button">Delete</a>

        </form>
    {% endblock %}