asgiref==3.3.4
bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
convertdate==2.3.2
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==2.2.26
django-allauth==0.45.0
django-crispy-forms==1.12.0
django-extensions==3.1.5
django-heroku==0.3.1
django-tempus-dominus==5.1.2.16
django-widget-tweaks==1.4.9
gunicorn==20.1.0
hijri-converter==2.1.2
idna==3.2
npm==0.1.1
oauthlib==3.1.1
optional-django==0.1.0
Pillow==9.0.0
psycopg2==2.8.6
pycparser==2.20
pydotplus==2.0.2
PyJWT==2.1.0
PyMeeus==0.5.11
pyparsing==3.0.6
python-dateutil==2.8.1
python-decouple==3.5
python3-openid==3.2.0
pytz==2018.9
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.6
whitenoise==5.3.0