:root {
    --mainNavColor: #093a63;
}

/* General */

.container-salary-table{
    text-align: center;
}

.alert {
    text-align: center;
}

h1{
    text-align: center;
    color: #00648b;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);;
}
h2 {
    text-align: center;
    color: #014e6c;
}

h3,h4 {
    text-align: center;
    color: #014e6c;
}

p {
    color: var(--mainNavColor);
}

p-amount{
    text-align: center;
    color: #014e6c;
    font-size: 24px;
}

containerCenter{
    text-align: center;
}

tr{
    text-align: left;
}

.container-readonly{
    border: 1px solid rgb(158, 117, 178, 1);
}

/* table */
.td-center {
    text-align: center;
}

.col-lg-4 {
    text-align: center;
}
/*buttons*/
.buttonCenter {
    text-align: center;
}
.btn-xl {
    padding: 1rem 2rem
}

.btn-primary{
    background-color: #00597c;
    border-color: var(--mainNavColor);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
    background-color: #007ff4;
    border-color: #00529d;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.btn-primary:visited {
    color: #fff;
}

/**/
/* Paginator*/
.pagination > li > a
{
    background-color: white;
    color: #00648b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

/* Body */

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: white;
    background-repeat:no-repeat;
    background: linear-gradient(#f5f5f8, #eeeeee);
}

 /**/
 /*Carousel */
/**/
.carousel-item{
    height:40rem;
    /*background:#255;*/
    color:white;
    position: relative;
    background-size: auto;
}
/*shadow overlay of pictures*/
.controller-image:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.2;
}
/* Container of text */
.sliderContainer{
    position:absolute;
    bottom:100px;
    left:300px;
    right:0;
    padding-bottom:50px;

}

.controller-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position: bottom;
    background-size:cover;
}

h1-car{
    font-size: 4vw;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);;
    color: white;
}
h1-car:after{
    content:"\a";
    white-space: pre;
}

p-car{
    white-space: pre-line;
    font-size: 1.5vw;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);;
    color: white;
}

p-car:after{
    content:"\a \a";
    white-space: pre;
}
.btn-carousel {
    color: rgba(255,255,255,.8);
    background-color: rgba(12, 60, 97, 0.9);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(114, 154, 234, 0.3);
}

.btn-carousel:visited {
    color: rgba(255,255,255,.8);
    background-color: rgba(12, 60, 97, 0.9);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(114, 154, 234, 0.3);
}

.btn-carousel:hover {
    color: #ffffff;
    background-color: rgba(12, 60, 97, 1);
    border-color: rgba(249, 249, 250, 0.64);
    box-shadow: 0px 0px 10px rgba(249, 249, 250, 0.30);
}

/* end of carousel*/

/*Form is the default of the input boxes*/
.form-control{
    background-color: white;
    border: 1px solid rgba(136, 136, 136, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(141, 141, 141, 0.55);
}

.form-control:focus {
    /*background-color: rgba(234, 236, 239, 0.69);*/
    border: 1px solid rgb(0, 127, 244, 1);
    box-shadow: 0 0 0 0.2rem rgb(0, 127, 244, 0.45);
}
.form-control:active {
    border: 1px solid rgb(0, 127, 244, 1);
    box-shadow: 0 0 0 0.2rem rgb(0, 127, 244, 0.45);
}

/* Specific ID ones*/
#messageTitles{
    border: 1px solid rgba(136, 136, 136, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(141, 141, 141, 0.55);
    background-color: #014e6c;
    color: white;
}

#formReadOnly {
    background-color: #eaecef;
}

#formReadOnlyCenter {
    text-align: center;
    background-color: #eaecef;
}

#aligncenter {
    text-align: center;
}
#cleanColumn{
    box-shadow: none;
    background-color: white;
    border-color: white;
}

#MessageContent{
    width: 60%;
}

/*Based on form-control, for the boxes that is readonly*/

#mainlinks {
    color: #007ff4;
}
