{% extends 'timesheet/base.html' %}
{%  load static %}

{% block title %}Add Shift | UGTMS{% endblock %}

{% block content %}
<div class="container p-3">

<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
    <center><h1>Add to Timesheet</h1></center>
    <hr/>
    <div class="container w-75 bg-white rounded" >
        <form action="" method=POST>
            {% csrf_token %}

            <div class="container">
                <div class="row" >
                  <div class="col col-lg-4"> StudentID:</div>
                 <div class="col col-lg-4"> {{ user }}</div>
                </div> <hr>
                <div class="row" >
                  <div class="col col-lg-4"> Role:</div>
                  <div class="col col-lg-2">{{ form.role }}</div>
                </div><hr>

    {#        startHour box with calendar picker #}
                <label for="disabledTextInput" class="form-label">Start Time:</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <div class="col-xs-2">{{  form.startHour }}</div>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>

                <hr/>
                {#        endHour box with calendar picker #}
                <label for="disabledTextInput" class="form-label">End Time:</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <div class="col-xs-2 ">{{  form.endHour }}</div>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <hr/>

            </div>
            <script>
              $(function () {
                $("#datetimepicker1").datetimepicker({
                  format: 'MM/DD/YYYY HH:mm',
                });
                $("#datetimepicker2").datetimepicker({
                    format: 'MM/DD/YYYY HH:mm',
                });
              });

            </script>

            <center><input type="submit" value="Submit" class="btn btn-primary"></center>
            {{ form.non_field_errors }}

        </form>
        </div>
        <hr/>
        <div class="container">
            - You can modify entries in case of a mistake.<br>
            - Shift won't get verified in case of wrong details.<br>
        </div>
    </div>

</div>
{% endblock %}