{% extends 'timesheet/base.html' %}
{% load has_role %}

{% block title %}Inbox | UGTMS{% endblock %}

{% block content %}
<div class="container p-3" style="min-height: 500px;">
    <h1>Inbox</h1>
   <hr/>
    {# timesheet table #}
    <table class="table table-striped shadow my-4 bg-white">
      <thead>
        <tr>
            <th scope="col">MessageID</th>
            <th scope="col">Date Sent</th>
            <th scope="col">Title</th>
            {% if request.user|has_role:"Verifier" or request.user|has_role:"Admin" %}
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            {% endif %}
            <th scope="col">Resolved</th>
            <th scope="col">Content</th>

        </tr>
      </thead>
        {% for message in messagesPerPage %}
            <tr>
                <td>
                #{{ message.id }}
                </td>
                <td>
                {{ message.date.date }}
                </td>
                <td>
                {{ message.msg_title }}
                </td>
                {% if request.user|has_role:"Verifier" or request.user|has_role:"Admin" %}
                <td>
                {{ message.sender }}
                </td>
                <td>
                {{ message.receiver }}
                </td>
                {% endif %}
                <td>
                    {% if message.resolved %}
                       <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                       </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'read-message' message.id %}">
                        {% if message.read %}
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#007ff4" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                              <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
                           </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                            </svg>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
<!--Show number of pages> -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if messagesPerPage.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ messagesPerPage.previous_page_number }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
    {% endif %}

      <li class="page-item"><a class="page-link" href="#">Page {{ messagesPerPage.number }} of {{ messagesPerPage.paginator.num_pages }}</a> </li>
    <!-- Page number -->
    {% if messagesPerPage.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ messagesPerPage.next_page_number }}">Next</a></li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link">Next</a>
        </li>
    {% endif %}
  </ul>
</nav>
<br/>
{% endblock %}
