<!DOCTYPE html>
{% load staticfiles %}
{% load has_role %}

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-sm navbar-custom shadow">
  <div class="container-fluid">

    <div class="logo"><img src="/static/images/logo.png" width=50% height=50%  /> </div>

    <a class="navbar-brand" href="{% url 'home' %}">UGTMS</a>
 {# Button that appears when screen becomes too small and categories disappear #}
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
{# categories on the left   #}
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>
            {#  if user is Admin  #}
            {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'user-list' %}">Users</a> </li>
                <li class="nav-item"> <a class="nav-link" aria-current="page" href="{% url 'user-timesheets-list' %}">Timesheets</a> </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'user-salary-list' %}">Salaries</a> </li>
                <li class="nav-item"> <a class="nav-link" aria-current="page" href="/admin">Admin Panel</a></li>
            {% endif %}
            {#  if user is Student  #}
            {% if request.user|has_role:"Student" %}
                 <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'shifts' %}">Timesheet</a> </li>
                 <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'salary' user.id %}">Salary</a></li>
            {#  if user is Verifier  #}
            {% elif request.user|has_role:"Verifier"  %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'user-timesheets-list' %}">Timesheets</a> </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'shifts' %}">All Shifts</a> </li>
           {#  if user is Payer  #}
            {% elif request.user|has_role:"Payer" %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'user-salary-list' %}">User List</a> </li>
            {% endif %}
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'support' %}">Support</a> </li>
        {% else %}
        {% endif %}

      </ul>
{# categories/buttons on the right #}
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
             <li class="nav-item"><a class="btn btn-primary-nav" aria-current="page" href="{% url 'user-profile' user.id %}">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
             </a> </li>
            <li class="nav-item"> <a class="btn btn-primary-nav" aria-current="page" href="{% url 'logout' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a></li>
        {% else %}
            <li class="nav-item"> <a class="btn btn-primary-nav" aria-current="page" href="{% url 'login' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a> </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
