{% extends 'timesheet/base.html' %}
{%  load static %}
{% load has_role %}

{% block title %}Read Message | UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded">
     <center><h1>Message #{{ message.id }}</h1></center>
     <hr/>
    <div class="container w-75 bg-white rounded" >

        <form action="">
            {% csrf_token %}
            <div class="row" >
              <div class="col col-lg-4 align-self-center">Sender:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ message.sender }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">Staff Role:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ message.sender_role }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">Title:</div>
              <div class="col col-lg-6 align-left"><div class="form-control text-left" id="formReadOnly">{{ message.msg_title }}</div></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">Message:</div>
              <div class="col col-lg-6"><textarea readonly class="form-control" cols="25" rows="3">{{ message.msg_content }}</textarea></div>
            </div>
            {% if request.user|has_role:"Student" %}
            <hr/>
            <p>- Please go and check the submitted shift that has an issue. When you modify it, you can click the button below
            to let the Verifier know that it can be reviewed again.</p>
            <hr/>
            <center><a class="btn btn-primary" href="{% url 'resolve' message.id %}" role="button">Resolve</a></center>
            {% else %}
            <hr>
            <center><a class="btn btn-danger" href="{% url 'delete-message' message.id %}" role="button">Delete</a></center>
            {% endif %}
        </form>
    </div>

</div>
{% endblock %}