{% extends 'timesheet/base.html' %}
{%  load static %}
{% load has_role %}

{% block title %}Salary of {{ user }} | UGTMS{% endblock %}

{% block content %}
<center>

<div class="container p-3" style="min-height: 550px;">
    {% if request.user|has_role:"Student" %}
        <h1>Salary</h1>
    {% else %}
        <h1>Salary of {{ user }}</h1>
    {% endif %}
    <hr/>
    <div class="container-salary-table w-50">

        <div class="container shadow p-3 mb-5 my-5 bg-white rounded font-weight-bold">
            <p-amount>Verified Remaining Amount:  £{{ user.userprofile.salary }}</p-amount>
        </div>
        <hr/>

        <h3> Paid Salaries </h3>
            <center><a class="btn btn-primary" href="{% url 'salaries-csv' %}" role="button">Export CSV</a></center>
            <table class="table table-striped shadow my-4 bg-white square">
                  <thead>
                    <tr>
                        <th scope="col">PaymentID</th>
                        <th scope="col">Date Paid</th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead>
                {% for salary in salariesPerPage %}
                    <tr>
                        <td>
                        #{{ salary.id }}
                        </td>
                        <td>
                        {{ salary.date.date }}
                        </td>
                        <td>
                        £{{ salary.amount }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    </div>

    <!--Show number of pages> -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if salariesPerPage.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ salariesPerPage.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}

          <li class="page-item"><a class="page-link" href="#">Page {{ salariesPerPage.number }} of {{ salariesPerPage.paginator.num_pages }}</a> </li>
        <!-- Page number -->
        {% if salariesPerPage.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ salariesPerPage.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}
      </ul>
    </nav>
</div>
</center>
{% endblock %}
