{% extends 'timesheet/base.html' %}
{% load static %}

{% block title %}Support | UGTMS{% endblock %}

{% block content %}

<div class="container shadow w-75 p-3 mb-5 my-5 bg-white rounded">
<div class="container w-100 p-3 bg-white rounded">
  <center> <h1 id="about"> Support </h1> </center>
  <hr/>
    <p>  In case you:<br><br> - experience errors of any kind,  <br> - forgot your password, <br>- want to request
        a new feature, <br> <br> please send an email to admin@ugtms.uk.
    </p>
       <hr/>

    <p>
        If you haven't received your login credentials yet by the department staff, you need to visit
        the official <a href="https://glasgow.saasiteu.com/Modules/SelfService/#home">UofG Helpdesk</a> (<a href="https://frontdoor.spa.gla.ac.uk/Portal/Student.aspx">MyGlasgow</a> > New Helpdesk Request) and create a new request ticket.
        Staff will match your details and confirm you have been recruited by the university. Afterwards you will receive an email with your credentials.
    </p>

           <hr/>

    <p>
        * Always use your university email when you are requesting support *
    </p>

</div>
</div>
<br>
{% endblock %}
