{% extends 'timesheet/base.html' %}
{% load widget_tweaks %}
{% block title %}Update Shift | UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
    <center><h1>Update Shift #{{ shift.id }}</h1></center>
    <hr/>
    <div class="container w-75 bg-white rounded" >
        <form action="" method=POST>

            {% csrf_token %}

            <div class="container">
                <div class="row" >
                  <div class="col col-lg-4 align-self-center">StudentID:</div>
                  <div class="col col-lg-7"><input class="form-control" id="formReadOnly" value={{ user }} readonly></div>
                </div> <hr>
                <div class="row" >
                  <div class="col col-lg-4 align-self-center"> Role:</div>
                  <div class="col col-lg-7">{% render_field form.role class="form-control" %}</div>
                </div><hr>
                <div class="row" >
                   <div class="col col-lg-4 align-self-center"> Start of Shift:</div>
                   <div class="col-lg-7">{{  form.startHour }}</div>
                </div>
                <hr>
                <div class="row" >
                    <div class="col col-lg-4 align-self-center">End of Shift:</div>
                    <div class="col-lg-7">{{  form.endHour }}</div>
                </div>
            </div>

            <hr/>
            <center>
                <a class="btn btn-danger" href="{% url 'delete-shift' shift.id %}" role="button">Delete</a>
                <input type="submit" value="Submit" class="btn btn-primary">
            </center>
        </form>
    </div>
</div>
{% endblock %}