{% extends 'timesheet/base.html' %}

{% block title %}Update Shift | UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
    <div class="container w-50 my-3 bg-white rounded" >
        </center><h1>Update Shift #{{ shift.id }}</h1></center>
        <br/>
        <form action="" method=POST>
            {% csrf_token %}

            StudentID: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ user }}" disabled> <br/> <br/>
            Role of the shift {{ form.role }} <br/> <br/>
            <label for="disabledTextInput" class="form-label">Start of Shift</label>
            <div class="col-xs-2">{{  form.startHour }}</div> <br/>

            <label for="disabledTextInput" class="form-label">End of the Shift</label>
            <div class="col-xs-2">{{  form.endHour }}</div> <br/>
            <center>
                <input type="submit" value="Submit" class="btn btn-primary">
                <a class="btn btn-danger" href="{% url 'delete-shift' shift.id %}" role="button">Delete</a>
            </center>
        </form>
    </div>
</div>
{% endblock %}