{% extends 'timesheet/base.html' %}

{% block title %}Timesheets | UGTMS{% endblock %}

{% block content %}
<div class="container p-3" style="min-height: 500px;">
    <h1>Timesheets</h1>
    <hr/>
    <form action="" method=POST>
        {% csrf_token %}
    <div class="container w-75">
        <table class="table table-striped shadow my-4 bg-white">
          <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">email</th>
                <th scope="col">Verify</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.get_username }}</td>
                    <td>{{ user.email }} </td>
                    <td align="left">
                        <a href="{% url 'shifts-of' user.id %}">
                            {% if user.userprofile.addedToTimesheet %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-table" viewBox="0 0 16 16">
                                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                            {% endif %}
                        </a>
                </tr>
             {% endfor %}
            </tr>
          </tbody>
        </table>
    </div>
    </form>
<!--Show number of pages> -->
   <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if users.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}

          <li class="page-item"><a class="page-link" href="#">Page {{ users.number }} of {{ users.paginator.num_pages }}</a> </li>
        <!-- Page number -->
        {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}
      </ul>
    </nav>
</div>
{% endblock %}
