{% extends 'timesheet/base.html' %}
{% load has_role %}

{% block title %}Profile of {{ userid }} | UGTMS{% endblock %}

{% block content %}

<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
    <center><h1>Profile of {{ userid }}</h1></center>
    <hr/>
    <div class="container w-75 bg-white rounded" >
    <form action="" method=POST>
        {% csrf_token %}

        <div class="container">
                <div class="row" >
                  <div class="col col-lg-4"> StudentID:</div>
                 <div class="col col-lg-2"> {{ userid.username }}</div>
                </div> <hr>
                <div class="row" >
                  <div class="col col-lg-4"> User Role:</div>
                  <div class="col col-lg-2">{{ userid.userprofile.title }}</div>
                </div><hr>
                <div class="row" >
                  <div class="col col-lg-4"> First Name:</div>
                  <div class="col col-lg-2">{{ form.first_name }}</div>
                </div><hr>
                <div class="row" >
                  <div class="col col-lg-4"> Last Name:</div>
                  <div class="col col-lg-2">{{ form.last_name }}</div>
                </div><hr>
                <div class="row" >
                  <div class="col col-lg-4"> Email:</div>
                  <div class="col col-lg-2">{{ form.email }}</div>
                </div><hr>
                <div class="row" >
                  <div class="col col-lg-4"> Phone:</div>
                  <div class="col col-lg-2">{{ profileForm.phone }}</div>
                </div><hr>
            </div>
        <div class="text-center">
            {% if request.user|has_role:"Student" %}
                <a class="btn btn-warning" href="{% url 'user-password' userid.id %}" role="button">Change Password</a>
            {% endif %}
            <input type="submit" value="Update Profile" class="btn btn-primary">

        </div>


    </form>
</div>
</div>


    {% endblock %}
