{% extends 'timesheet/base.html' %}

    {% block content %}
<div class="container p-3">
    <center>
        <h1>Users</h1>
      <hr/>
    <form action="" method=POST>
        {% csrf_token %}
        <br>
        <a class="btn btn-primary" href="{% url 'register-user' %}" role="button">Register User</a>

        <table class="table table-striped shadow my-4 bg-white">
          <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col">email</th>
                <th scope="col">Phone</th>
                <th scope="col">Profile</th>
                <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.get_username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.userprofile.title }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                    <td align="left">
                        <a href="{% url 'user-profile' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                     </td>
                    <td align="left">
                        <a href="{% url 'user-info' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>
                     </td>
                </tr>
             {% endfor %}
            </tr>
          </tbody>
        </table>

    </form>

<!--Show number of pages> -->
   <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if users.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}

          <li class="page-item"><a class="page-link" href="#">Page {{ users.number }} of {{ users.paginator.num_pages }}</a> </li>
        <!-- Page number -->
        {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}
      </ul>
    </nav>
    </center>
</div>
    {% endblock %}
