{% extends 'timesheet/base.html' %}
{% load widget_tweaks %}
{% block title %}Password of {{ userid }}| UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded">
    <center><h1> New Password</h1></center>
    <hr/>
    <div class="container w-75 bg-white rounded" >
    <form action="" method=POST>
        {% csrf_token %}

            <div class="row" >
              <div class="col col-lg-4 align-self-center">StudentID:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ userid.username }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">First Name:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ userid.first_name }} readonly></div>
            </div><hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">Passowrd:</div>
              <div class="col col-lg-6">{% render_field form.password1 class="form-control" placeholder="New Passowrd" %}</div>
            </div><hr>
            <div class="row" >
               <div class="col col-lg-4 align-self-center">Password*:</div>
              <div class="col col-lg-6">{% render_field form.password2 class="form-control" placeholder="Confirm Password" %}</div>
            </div><hr>

        <center><input type="submit" value="Update Password" class="btn btn-primary"></center>

    </form>
    </div>
        <hr/>
        <div class="container">
        - Password can't be too similar to other personal information. <br>
        - Password must contain at least 8 characters.<br>
        - Password can't be a commonly used password.<br>
        - Password can't be entirely numeric.<br>
    </div>
</div>

    {% endblock %}
