{% extends 'timesheet/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

    {% block content %}

<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
<div class="container w-75 bg-white rounded" >
    <center><h1> Update Profile</h1></center> <br>
    <form action="" method=POST>
        {% csrf_token %}

        StudentID: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ userid.username }}" disabled> <br/> <br/>
        User Role: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ userid.userprofile.title }}" disabled> <br/> <br/>

        First Name: {{ form.first_name }}<br><br>
        Last Name: {{ form.last_name }}<br><br>
        Email: {{ form.email }}<br><br>

        Phone: {{ profileForm.phone }}<br>
        <br/>
        <div class="text-center">
            <a class="btn btn-warning" href="{% url 'user-password' userid.id %}" role="button">Change Password</a>
            <input type="submit" value="Update" class="btn btn-primary">
        </div>


    </form>
</div>
</div>


    {% endblock %}
