{% extends 'timesheet/base.html' %}

{% block title %}Password of {{ userid }}| UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded" >
    <div class="container w-75 bg-white rounded" >
    <center><h1> New Password</h1></center> <br>
    <form action="" method=POST>
        {% csrf_token %}

        StudentID: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ userid.username }}" disabled> <br/> <br/>
        User Role: <input class="col-xs-2" id="disabledInput" type="text" placeholder="{{ userid.userprofile.title }}" disabled> <br/> <br/>

        New Password: {{ form.password1 }}<br><br>
        Confirm New Password: {{ form.password2 }}<br><br>

        <center><input type="submit" value="Update Password" class="btn btn-primary"></center>

    </form>
    </div>
        <hr/>
        <div class="container">
        - Password can't be too similar to other personal information. <br>
        - Password must contain at least 8 characters.<br>
        - Password can't be a commonly used password.<br>
        - Password can't be entirely numeric.<br>
        </div>
</div>

    {% endblock %}
