{% extends 'timesheet/base.html' %}
{% load widget_tweaks %}

{% block title %}Role of {{ user.user }} | UGTMS{% endblock %}

{% block content %}
<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded">
   <h1>{{ user.user }}'s Role</h1>
    <hr>
    <div class="container w-75 bg-white rounded" >

        <form action="" method=POST>
            {% csrf_token %}
            <div class="row" >
              <div class="col col-lg-4 align-self-center">StudentID:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ user.user }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">First Name:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ user.user.first_name }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">User Role:</div>
              <div class="col col-lg-6">{% render_field form.title class="form-control" %}</div>
            </div> <hr>

            <center><input type="submit" value="Update" class="btn btn-primary"></center>

        </form>
    </div>
</div>
{% endblock %}
