{% extends 'timesheet/base.html' %}

    {% block content %}
<div class="container p-3">
    <center>
        <h1>Users</h1>
      <hr/>
    <form action="" method=POST>
        {% csrf_token %}
        <br>
        <a class="btn btn-primary" href="{% url 'register-user' %}" role="button">Register User</a>

        <table class="table table-striped shadow my-4 bg-white">
          <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Profile</th>
                <th scope="col">Role</th>
                <th scope="col">Password</th>

            </tr>
          </thead>
          <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.get_username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.userprofile.title }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                    <td align="center">
                        <a href="{% url 'user-profile' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </td>
                    <td align="center">
                        <a href="{% url 'user-info' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                              <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg>
                        </a>
                    </td>
                    <td align="center">
                        <a href="{% url 'user-password' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                              <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
             {% endfor %}
            </tr>
          </tbody>
        </table>

    </form>

<!--Show number of pages> -->
   <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if users.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}

          <li class="page-item"><a class="page-link" href="#">Page {{ users.number }} of {{ users.paginator.num_pages }}</a> </li>
        <!-- Page number -->
        {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
        {% endif %}
      </ul>
    </nav>
    </center>
</div>
    {% endblock %}
