{% extends 'timesheet/base.html' %}
{% load has_role %}
{% load widget_tweaks %}

{% block title %}Profile of {{ userid }} | UGTMS{% endblock %}

{% block content %}

<div class="container shadow w-50 p-3 mb-5 my-5 bg-white rounded">
    <h1>Profile of {{ userid }}</h1>
    <hr/>
    <div class="container w-75 bg-white rounded" >

        <form action="" method=POST>
            {% csrf_token %}
            <div class="row" >
              <div class="col col-lg-4 align-self-center">StudentID:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ userid.username }} readonly></div>
            </div> <hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">User Role:</div>
              <div class="col col-lg-6"><input class="form-control" id="formReadOnly" value={{ userid.userprofile.title }} readonly></div>
            </div><hr>
            <div class="row" >
              <div class="col col-lg-4 align-self-center">First Name:</div>
              <div class="col col-lg-6">{% render_field form.first_name class="form-control" placeholder="First Name" %}</div>
            </div><hr>
            <div class="row" >
               <div class="col col-lg-4 align-self-center">Last Name:</div>
              <div class="col col-lg-6">{% render_field form.last_name class="form-control" placeholder="Last Name" %}</div>
            </div><hr>
            <div class="row" >
               <div class="col col-lg-4 align-self-center">Email:</div>
              <div class="col col-lg-6">{% render_field form.email class="form-control"  placeholder="Email Address" %}</div>
            </div><hr>
            <div class="row" >
               <div class="col col-lg-4 align-self-center">Phone</div>
              <div class="col col-lg-6">{% render_field profileForm.phone class="form-control" placeholder="Phone Number" %}</div>
            </div><hr>

         <div class="text-center">
        {% if request.user|has_role:"Student" %}
            <a class="btn btn-warning" href="{% url 'user-password' userid.id %}" role="button">Change Password</a>
        {% endif %}
         <div class="buttonCenter">
            <input type="submit" value="Update Profile" class="btn btn-primary">
         </div>

        </div>
        </form>
    </div>

</div>


    {% endblock %}
